/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Fredoka+One&family=Itim&family=Playfair+Display&family=Righteous&display=swap');

/* COLORS:

Gallade Green:           #009900;
Gallant Gray:            #666666;
Afton Fluids Purple:     #842593;
Mr. Clean White:         #ffffff;
Cartoon Mouse Black:     #000000;

*/

/* FONTS:

Gallant Evening:     'Righteous', cursive;
Round:               'Comfortaa', cursive;
Christmas:           'Playfair Display', serif;
Fitness:             'Fredoka One', cursive;
Beagles:             'Itim', cursive;

*/

* {
	padding: 0;
	border: 0;
	margin: 0;
}

body {
	font-family: 'Comfortaa', cursive;
}

header {
	
}

header h1 {
	text-align: center;
	font-size: 5em;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://art.pixilart.com/27ba4123b71d064.gif);
	background-size: cover;
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h1 {
	
}

main {
	
}

a {
	color: #000000;
	text-decoration: none;
}

a:link {
	
}

a:hover {
	
}

a:active {
	
}

a:visited {
	
}

footer {
	
}

.gallant {
	color: #009900;
	-webkit-text-stroke: 1px #006600;
	font-size: 5em;
	font-family: 'Righteous', cursive;
	text-align: center;
}

.webProjects {
	padding: 10px 0;
	width: 100%;
}

.webProjects ul{
	display: block;
	text-align: center;
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
}

.webProjects ul li {
	display: inline-block;
	list-style: none;
	margin: 0 2%;
	padding: 0 auto;
}

.webProjects a {
	text-decoration: none;
	transition: 0.3s all;
	text-align: center;
}

/*CHRISTMAS*/

.christmas {
	font-size: 3.4em;
	font-family: 'Playfair Display', serif;
	transition: .8s all;
	opacity: 0.8;
}

.christmas:hover {
	font-size: 3.6em;
	opacity: 1;
}

/* THE CHRISTMAS BLINK*/

.christmas .ch1 {
	animation: christmas1 0.8s infinite alternate;
}
.christmas .ch2 {
	animation: christmas2 0.8s infinite alternate;
}

@keyframes christmas1 {
	0% {color: #990000; text-shadow: 0 0 5px #990000bb, 0 0 10px #ff000099, 0 0 15px #99000077, 0 0 20px #99000055;}
	49% {color: #990000; text-shadow: 0 0 5px #990000bb, 0 0 10px #ff000099, 0 0 15px #99000077, 0 0 20px #99000055;}
	50% {color: #009900; text-shadow: 0 0 5px #009900bb, 0 0 10px #00ff0099, 0 0 15px #00990077, 0 0 20px #00990055;}
	100% {color: #009900; text-shadow: 0 0 5px #009900bb, 0 0 10px #00ff0099, 0 0 15px #00990077, 0 0 20px #00990055;}
}
@keyframes christmas2 {
	0% {color: #009900; text-shadow: 0 0 5px #009900bb, 0 0 10px #00ff0099, 0 0 15px #99000077, 0 0 20px #00990055;}
	49% {color: #009900; text-shadow: 0 0 5px #009900bb, 0 0 10px #00ff0099, 0 0 15px #99000077, 0 0 20px #00990055;}
	50% {color: #990000; text-shadow: 0 0 5px #990000bb, 0 0 10px #ff000099, 0 0 15px #00990077, 0 0 20px #99000055;}
	100% {color: #990000; text-shadow: 0 0 5px #990000bb, 0 0 10px #ff000099, 0 0 15px #00990077, 0 0 20px #99000055;}
}

/*FITNESS*/

.fitness {
	font-size: 3.4em;
	font-family: 'Fredoka One', cursive;
	transition: .8s all;
	opacity: 0.8;
}

.fitness:hover {
	font-size: 3.6em;
	opacity: 1;
}

/*THE FITNESS SHUFFLE*/

.fitness div {
	display: inline-block;
}

.ff1 {
	animation: fitness 0.7s ease-in-out infinite alternate;
}
.ff2 {
	animation: fitness 0.7s .1s ease-in-out infinite alternate;
}
.ff3 {
	animation: fitness 0.7s .2s ease-in-out infinite alternate;
}
.ff4 {
	animation: fitness 0.7s .3s ease-in-out infinite alternate;
}
.ff5 {
	animation: fitness 0.7s .4s ease-in-out infinite alternate;
}
.ff6 {
	animation: fitness 0.7s .5s ease-in-out infinite alternate;
}
.ff7 {
	animation: fitness 0.7s .6s ease-in-out infinite alternate;
}
.ff8 {
	animation: fitness 0.7s .7s ease-in-out infinite alternate;
}
.ff9 {
	animation: fitness 0.7s .8s ease-in-out infinite alternate;
}
.ff10 {
	animation: fitness 0.7s .9s ease-in-out infinite alternate;
}
.ff11 {
	animation: fitness 0.7s 1s ease-in-out infinite alternate;
}
.ff12 {
	animation: fitness 0.7s 1.1s ease-in-out infinite alternate;
}
.ff13 {
	animation: fitness 0.7s 1.2s ease-in-out infinite alternate;
}
.ff14 {
	animation: fitness 0.7s 1.3s ease-in-out infinite alternate;
}

@keyframes fitness {
	0% {transform: translate(0,1rem);}
	0% {transform: translate(0,-1rem);}
}

.beagles {
	text-shadow: -1px -1px 0 #151111, 1px -1px 0 #151111, -1px 1px 0 #151111, 1px 1px 0 #151111;
	font-family: 'Itim', cursive;
	font-size: 4em;
	transition: .8s all;
	opacity: 0.8;
}

.beagles:hover {
	font-size: 4.2em;
	opacity: 1;
}

.beagles p {
	display: inline-block;
}

/*THE BEAGLE ROTAT*/

.beagles1 {
	color: #e4f2ea;
	/*animation: rotat 1.4s linear infinite;*/
}
.beagles2 {
	color: #53391f;
	/*animation: rotat 1.4s .2s linear infinite;*/
}
.beagles3 {
	color: #e4f2ea;
	/*animation: rotat 1.4s .4s linear infinite;*/
}
.beagles4 {
	color: #734f2f;
	/*animation: rotat 1.4s .6s linear infinite;*/
}
.beagles5 {
	color: #e4f2ea;
	/*animation: rotat 1.4s .8s linear infinite;*/
}
.beagles6 {
	color: #cba987;
	/*animation: rotat 1.4s 1s linear infinite;*/
}
.beagles7 {
	color: #e4f2ea;
	/*animation: rotat 1.4s 1.2s linear infinite;*/
}
/*
.beagles:hover .beagles1 {
	color: #e4f2ea;
	animation: rotat 0.1s linear infinite;
}
.beagles:hover .beagles2 {
	color: #53391f;
	animation: rotat 0.1s 0.01428571428s linear infinite;
}
.beagles:hover .beagles3 {
	color: #e4f2ea;
	animation: rotat 0.1s 0.02857142856s linear infinite;
}
.beagles:hover .beagles4 {
	color: #734f2f;
	animation: rotat 0.1s 0.04285714284s linear infinite;
}
.beagles:hover .beagles5 {
	color: #e4f2ea;
	animation: rotat 0.1s 0.05714285712s linear infinite;
}
.beagles:hover .beagles6 {
	color: #cba987;
	animation: rotat 0.1s 0.0714285714s linear infinite;
}
.beagles:hover .beagles7 {
	color: #e4f2ea;
	animation: rotat 0.1s 0.08571428568s linear infinite;
}
*/

.beagles1 {
	animation: b1 1s infinite linear;
}
.beagles2 {
	animation: b2 1s infinite linear;
}
.beagles3 {
	animation: b3 1s infinite linear;
}
.beagles4 {
	animation: b4 1s infinite linear;
}
.beagles5 {
	animation: b5 1s infinite linear;
}
.beagles6 {
	animation: b6 1s infinite linear;
}
.beagles7 {
	animation: b7 1s infinite linear;
}

@keyframes b1 {
	0% {color: #e4f2ea;}
	16.666666665% {color: #e4f2ea;}
	16.666666666% {color: #cba987;}
	33.333333332% {color: #cba987;}
	33.333333333% {color: #e4f2ea;}
	49.999999999% {color: #e4f2ea;}
	50% {color: #734f2f;}
	66.666666665% {color: #734f2f;}
	66.666666666% {color: #e4f2ea;}
	83.333333332% {color: #e4f2ea;}
	83.333333333% {color: #53391f;}
	100% {color: #53391f;}
}

@keyframes b2 {
	0% {color: #cba987;}
	16.666666665% {color: #cba987;}
	16.666666666% {color: #e4f2ea;}
	33.333333332% {color: #e4f2ea;}
	33.333333333% {color: #734f2f;}
	49.999999999% {color: #734f2f;}
	50% {color: #e4f2ea;}
	66.666666665% {color: #e4f2ea;}
	66.666666666% {color: #53391f;}
	83.333333332% {color: #53391f;}
	83.333333333% {color: #e4f2ea;}
	100% {color: #e4f2ea;}
}

@keyframes b3 {
	0% {color: #e4f2ea;}
	16.666666665% {color: #e4f2ea;}
	16.666666666% {color: #734f2f;}
	33.333333332% {color: #734f2f;}
	33.333333333% {color: #e4f2ea;}
	49.999999999% {color: #e4f2ea;}
	50% {color: #53391f;}
	66.666666665% {color: #53391f;}
	66.666666666% {color: #e4f2ea;}
	83.333333332% {color: #e4f2ea;}
	83.333333333% {color: #cba987;}
	100% {color: #cba987;}
}

@keyframes b4 {
	0% {color: #734f2f;}
	16.666666665% {color: #734f2f;}
	16.666666666% {color: #e4f2ea;}
	33.333333332% {color: #e4f2ea;}
	33.333333333% {color: #53391f;}
	49.999999999% {color: #53391f;}
	50% {color: #e4f2ea;}
	66.666666665% {color: #e4f2ea;}
	66.666666666% {color: #e4f2ea;}
	83.333333332% {color: #e4f2ea;}
	83.333333333% {color: #cba987;}
	100% {color: #cba987;}
}

@keyframes b5 {
	0% {color: #734f2f;}
	16.666666665% {color: #734f2f;}
	16.666666666% {color: #e4f2ea;}
	33.333333332% {color: #e4f2ea;}
	33.333333333% {color: #53391f;}
	49.999999999% {color: #53391f;}
	50% {color: #e4f2ea;}
	66.666666665% {color: #e4f2ea;}
	66.666666666% {color: #e4f2ea;}
	83.333333332% {color: #e4f2ea;}
	83.333333333% {color: #cba987;}
	100% {color: #cba987;}
}

@keyframes b6 {
	0% {color: #e4f2ea;}
	16.666666665% {color: #e4f2ea;}
	16.666666666% {color: #53391f;}
	33.333333332% {color: #53391f;}
	33.333333333% {color: #e4f2ea;}
	49.999999999% {color: #e4f2ea;}
	50% {color: #e4f2ea;}
	66.666666665% {color: #e4f2ea;}
	66.666666666% {color: #cba987;}
	83.333333332% {color: #cba987;}
	83.333333333% {color: #e4f2ea;}
	100% {color: #e4f2ea;}
}

@keyframes b7 {
	0% {color: #53391f;}
	16.666666665% {color: #53391f;}
	16.666666666% {color: #e4f2ea;}
	33.333333332% {color: #e4f2ea;}
	33.333333333% {color: #e4f2ea;}
	49.999999999% {color: #e4f2ea;}
	50% {color: #cba987;}
	66.666666665% {color: #53391f;}
	66.666666666% {color: #e4f2ea;}
	83.333333332% {color: #e4f2ea;}
	83.333333333% {color: #734f2f;}
	100% {color: }
}

/*
@keyframes rotat {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
*/
/*VARIOUS COLORS*/
#v1 {
	color: #660000;
	animation: color1 4s linear infinite;
}
#v2 {
	color: #663300;
	animation: color2 4s linear infinite;
}
#v3 {
	color: #666600;
	animation: color3 4s linear infinite;
}
#v4 {
	color: #336600;
	animation: color4 4s linear infinite;
}
#v5 {
	color: #006600;
	animation: color5 4s linear infinite;
}
#v6 {
	color: #006633;
	animation: color6 4s linear infinite;
}
#v7 {
	color: #006666;
	animation: color7 4s linear infinite;
}
#v8 {
	color: #003366;
	animation: color8 4s linear infinite;
}
#v9 {
	color: #000066;
	animation: color9 4s linear infinite;
}
#v10 {
	color: #330066;
	animation: color10 4s linear infinite;
}
#v11 {
	color: #660066;
	animation: color11 4s linear infinite;
}
#v12 {
	color: #660033;
	animation: color12 4s linear infinite;
}
#v13 {
	color: #660000;
	animation: color13 4s linear infinite;
}
#v14 {
	color: #663300;
	animation: color14 4s linear infinite;
}
@keyframes color1 {
	0% {color: #660000;}
	7.5% {color: #663300;}
	15.3% {color: #666600;}
	22.7% {color: #336600;}
	33% {color: #006600;}
	37.5% {color: #006633;}
	45.3% {color: #006666;}
	52.7% {color: #003366;}
	66% {color: #000066;}
	67.5% {color: #330066;}
	75.3% {color: #660066;}
	82.7% {color: #660033;}
	100% {color: #660000;}
}
@keyframes color2 {
	0% {color: #663300;}
	7.6% {color: #666600;}
	15.3% {color: #336600;}
	22.7% {color: #006600;}
	33% {color: #006633;}
	37.6% {color: #006666;}
	45.3% {color: #003366;}
	52.7% {color: #000066;}
	66% {color: #330066;}
	67.6% {color: #660066;}
	75.3% {color: #660033;}
	82.7% {color: #660000;}
	100% {color: #663300;}
}
@keyframes color3 {
	0% {color: #666600;}
	7.6% {color: #336600;}
	15.3% {color: #006600;}
	22.7% {color: #006633;}
	33% {color: #006666;}
	37.6% {color: #003366;}
	45.3% {color: #000066;}
	52.7% {color: #330066;}
	66% {color: #660066;}
	67.6% {color: #660033;}
	75.3% {color: #660000;}
	82.7% {color: #663300;}
	100% {color: #666600;}
}
@keyframes color4 {
	0% {color: #336600;}
	7.6% {color: #006600;}
	15.3% {color: #006633;}
	22.7% {color: #006666;}
	33% {color: #003366;}
	37.6% {color: #000066;}
	45.3% {color: #330066;}
	52.7% {color: #660066;}
	66% {color: #660033;}
	67.6% {color: #660000;}
	75.3% {color: #663300;}
	82.7% {color: #666600;}
	100% {color: #336600;}
}
@keyframes color5 {
	0% {color: #006600;}
	7.6% {color: #006633;}
	15.3% {color: #006666;}
	22.7% {color: #003366;}
	33% {color: #000066;}
	37.6% {color: #330066;}
	45.3% {color: #660066;}
	52.7% {color: #660033;}
	66% {color: #660000;}
	67.6% {color: #663300;}
	75.3% {color: #666600;}
	82.7% {color: #336600;}
	100% {color: #336600;}
}
@keyframes color6 {
	0% {color: #006633;}
	7.6% {color: #006666;}
	15.3% {color: #003366;}
	22.7% {color: #000066;}
	33% {color: #330066;}
	37.6% {color: #660066;}
	45.3% {color: #660033;}
	52.7% {color: #660000;}
	66% {color: #663300;}
	67.6% {color: #666600;}
	75.3% {color: #336600;}
	82.7% {color: #006600;}
	100% {color: #006633;}
}
@keyframes color7 {
	0% {color: #006666;}
	7.6% {color: #003366;}
	15.3% {color: #000066;}
	22.7% {color: #330066;}
	33% {color: #660066;}
	37.6% {color: #660033;}
	45.3% {color: #660000;}
	52.7% {color: #663300;}
	66% {color: #666600;}
	67.6% {color: #336600;}
	75.3% {color: #006600;}
	82.7% {color: #006633;}
	100% {color: #006666;}
}
@keyframes color8 {
	0% {color: #003366;}
	7.6% {color: #000066;}
	15.3% {color: #330066;}
	22.7% {color: #660066;}
	33% {color: #660033;}
	37.6% {color: #660000;}
	45.3% {color: #663300;}
	52.7% {color: #666600;}
	66% {color: #336600;}
	67.6% {color: #006600;}
	75.3% {color: #006633;}
	82.7% {color: #006666;}
	100% {color: #003366;}
}
@keyframes color9 {
	0% {color: #000066;}
	7.6% {color: #330066;}
	15.3% {color: #660066;}
	22.7% {color: #660033;}
	33% {color: #660000;}
	37.6% {color: #663300;}
	45.3% {color: #666600;}
	52.7% {color: #336600;}
	66% {color: #006600;}
	67.6% {color: #006633;}
	75.3% {color: #006666;}
	82.7% {color: #003366;}
	100% {color: #000066;}
}
@keyframes color10 {
	0% {color: #330066;}
	7.6% {color: #660066;}
	15.3% {color: #660033;}
	22.7% {color: #660000;}
	33% {color: #663300;}
	37.6% {color: #666600;}
	45.3% {color: #336600;}
	52.7% {color: #006600;}
	66% {color: #006633;}
	67.6% {color: #006666;}
	75.3% {color: #003366;}
	82.7% {color: #000066;}
	100% {color: #330066;}
}
@keyframes color11 {
	0% {color: #660066;}
	7.6% {color: #660033;}
	15.3% {color: #660000;}
	22.7% {color: #663300;}
	33% {color: #666600;}
	37.6% {color: #336600;}
	45.3% {color: #006600;}
	52.7% {color: #006633;}
	66% {color: #006666;}
	67.6% {color: #003366;}
	75.3% {color: #000066;}
	82.7% {color: #330066;}
	100% {color: #660066;}
}
@keyframes color12 {
	0% {color: #660033;}
	7.6% {color: #660000;}
	15.3% {color: #663300;}
	22.7% {color: #666600;}
	33% {color: #336600;}
	37.6% {color: #006600;}
	45.3% {color: #006633;}
	52.7% {color: #006666;}
	66% {color: #003366;}
	67.6% {color: #000066;}
	75.3% {color: #330066;}
	82.7% {color: #660066;}
	100% {color: #660033;}
}
@keyframes color13 {
	0% {color: #660000;}
	7.6% {color: #663300;}
	15.3% {color: #666600;}
	22.7% {color: #336600;}
	33% {color: #006600;}
	37.6% {color: #006633;}
	45.3% {color: #006666;}
	52.7% {color: #003366;}
	66% {color: #000066;}
	67.6% {color: #330066;}
	75.3% {color: #660066;}
	82.7% {color: #660033;}
	100% {color: #660000;}
}
@keyframes color14 {
	0% {color: #663300;}
	7.6% {color: #666600;}
	15.3% {color: #336600;}
	22.7% {color: #006600;}
	33% {color: #006633;}
	37.6% {color: #006666;}
	45.3% {color: #003366;}
	52.7% {color: #000066;}
	66% {color: #330066;}
	67.6% {color: #660066;}
	75.3% {color: #660033;}
	82.7% {color: #660000;}
	100% {color: #663300;}
}