/* CSS Document */
@supports (grid-area: auto) {
		#steamCash {
			border-radius: 30px;
		}
		#webcam {
			border-radius: 30px;
		}
		#ssbudlc {
			border-radius: 30px;
		}
		#legomine {
			border-radius: 30px;
		}
		#breath {
			border-radius: 30px;
		}
		#kirby {
			border-radius: 30px;
		}
		#bowser {
			border-radius: 30px;
		}
		#shovel {
			border-radius: 30px;
		}
		#pickle {
			grid-area:
			border-radius: 30px;
		}
		#tracker {
			border-radius: 30px;
		}
	@media screen and (min-width: 600px) {
		#pics {
			display: grid;
			width: 100%;
			grid-template-columns: 30% 30% 30%;
			grid-template-areas:
				"webcam legomine breath"
				"steam ssbudlc kirby"
				"bowser shovel pickle"
				"tracker tracker tracker";

			justify-content: center;
			grid-gap: 1% 1%;
		}
		#steamCash {
			grid-area: steam;
			border-radius: 30px;
		}
		#webcam {
			grid-area: webcam;
			border-radius: 30px;
		}
		#ssbudlc {
			grid-area: ssbudlc;
			border-radius: 30px;
		}
		#legomine {
			grid-area: legomine;
			border-radius: 30px;
		}
		#breath {
			grid-area: breath;
			border-radius: 30px;
		}
		#kirby {
			grid-area: kirby;
			border-radius: 30px;
		}
		#bowser {
			grid-area: bowser;
			border-radius: 30px;
		}
		#shovel {
			grid-area: shovel;
			border-radius: 30px;
		}
		#pickle {
			grid-area: pickle;
			border-radius: 30px;
		}
		#tracker {
			grid-area: tracker;
			border-radius: 30px;
		}
	}
}