/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Mochiy+Pop+One&family=Ultra&display=swap');

/* COLORS:

	woofing white:                #e4f2ea;
	tail-wagging tan:             #cba987;
	beagle brown:                 #734f2f;
	bow-wow black:                #151111;
	double-beagle dark brown:     #53391f;

*/

/* FONTS:
	
	Peppy Beagle:     'Mochiy Pop One', sans-serif;
	Thicc Beagle:     'Ultra', serif;
	Silly Beagle:     'Cutive', serif;

*/

/* RESET CODE */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background-color: #e4f2ea;
}

header {
	min-height: 300px;
	background-image: url("../images/homeBeagle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 20% 20%;
}

.hnav {
	padding: 10px 0;
	width: 100%;
	background-color: #cba987;
	
}

.hnav ul {
	display: block;
	text-align: center;
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
}

.hnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
}

.hnav a {
	color: #151111;
	text-decoration: none;
	font-size: 1.5em;
	transition: 0.3s all;
}

.hnav a:link {
	
}

.hnav a:hover {
	color: #53391f;
	letter-spacing: 1px;
}

.hnav a:active {
	
}

.hnav a:visited {
	
}

h1 {
	
}

header h1 {
	text-align: center;
	color: #734f2f;
	font-weight: bold;
	font-size: 7em;
	font-family: 'Mochiy Pop One', sans-serif;
	text-shadow: -1.5px -1.5px 0 #151111, 1.5px -1.5px 0 #151111, -1.5px 1.5px 0 #151111, 1.5px 1.5px 0 #151111;
}

header h2 {
	text-align: center;
	color: #53391f;
	font-size: 3em;
	font-family: 'Impact', sans-serif;
	text-shadow: -1px -1px 0 #151111, 1px -1px 0 #151111, -1px 1px 0 #151111, 1px 1px 0 #151111;
}

main {
	font-family: 'Cutive', serif;
	width: 100%;
	min-height: 600px;
	font-size: 1.5em;
	color: #151111;
	line-height: 1.5em;
}

main h1 {
	text-align: center;
}

main a {
	text-decoration: none;
	color: #373333;
}

/*COLORS*/

.blue {
	color: #000056;
}
.magenta {
	color: #560056;
}
a .blue {
	color: #373356;
}
a .magenta {
	color: #563356;
}
.gold {
	color: #565600;
}
.silver {
	color: #565656;
}
.bronze {
	color: #563400;
}

.white {
	color: #e4f2ea;
}
.brown {
	color: #734f2f;
}
.black {
	color: #53391f;
}
.tan {
	color: #cba987;
}

.tan2 {
	color: #774411;
}
.white2 {
	color: #666666;
}
.black2 {
	color: #000000;
}
.lemon {
	color: #776611;
}
.red {
	color: #771100;
}
.red2 {
	color: #770000;
}
.red3 {
	color: #773300;
}
.liver {
	color: #553300;
}
.blue2 {
	color: #000066;
}

.tri1 {
	color: #666666;
}
.tri2 {
	color: #000000;
}
.tri3 {
	color: #623E1E;
}

.two1 {
	color: #774411;
}
.two2 {
	color: #666666;
}

#v1 {
	color: #660000;
	animation: color1 1s infinite linear;
}
#v2 {
	color: #663300;
	animation: color2 1s infinite linear;
}
#v3 {
	color: #666600;
	animation: color3 1s infinite linear;
}
#v4 {
	color: #336600;
	animation: color4 1s infinite linear;
}
#v5 {
	color: #006600;
	animation: color5 1s infinite linear;
}
#v6 {
	color: #006633;
	animation: color6 1s infinite linear;
}
#v7 {
	color: #006666;
	animation: color7 1s infinite linear;
}
#v8 {
	color: #003366;
	animation: color8 1s infinite linear;
}
#v9 {
	color: #000066;
	animation: color9 1s infinite linear;
}
#v10 {
	color: #330066;
	animation: color10 1s infinite linear;
}
#v11 {
	color: #660066;
	animation: color11 1s infinite linear;
}
#v12 {
	color: #660033;
	animation: color12 1s infinite linear;
}
#v13 {
	color: #660000;
	animation: color13 1s infinite linear;
}

@keyframes color1 {
	0% {color: #660000;}
	7.5% {color: #663300;}
	15.3% {color: #666600;}
	22.7% {color: #336600;}
	33% {color: #006600;}
	37.5% {color: #006633;}
	45.3% {color: #006666;}
	52.7% {color: #003366;}
	66% {color: #000066;}
	67.5% {color: #330066;}
	75.3% {color: #660066;}
	82.7% {color: #660033;}
	100% {color: #660000;}
}
@keyframes color2 {
	0% {color: #663300;}
	7.6% {color: #666600;}
	15.3% {color: #336600;}
	22.7% {color: #006600;}
	33% {color: #006633;}
	37.6% {color: #006666;}
	45.3% {color: #003366;}
	52.7% {color: #000066;}
	66% {color: #330066;}
	67.6% {color: #660066;}
	75.3% {color: #660033;}
	82.7% {color: #660000;}
	100% {color: #663300;}
}
@keyframes color3 {
	0% {color: #666600;}
	7.6% {color: #336600;}
	15.3% {color: #006600;}
	22.7% {color: #006633;}
	33% {color: #006666;}
	37.6% {color: #003366;}
	45.3% {color: #000066;}
	52.7% {color: #330066;}
	66% {color: #660066;}
	67.6% {color: #660033;}
	75.3% {color: #660000;}
	82.7% {color: #663300;}
	100% {color: #666600;}
}
@keyframes color4 {
	0% {color: #336600;}
	7.6% {color: #006600;}
	15.3% {color: #006633;}
	22.7% {color: #006666;}
	33% {color: #003366;}
	37.6% {color: #000066;}
	45.3% {color: #330066;}
	52.7% {color: #660066;}
	66% {color: #660033;}
	67.6% {color: #660000;}
	75.3% {color: #663300;}
	82.7% {color: #666600;}
	100% {color: #336600;}
}
@keyframes color5 {
	0% {color: #006600;}
	7.6% {color: #006633;}
	15.3% {color: #006666;}
	22.7% {color: #003366;}
	33% {color: #000066;}
	37.6% {color: #330066;}
	45.3% {color: #660066;}
	52.7% {color: #660033;}
	66% {color: #660000;}
	67.6% {color: #663300;}
	75.3% {color: #666600;}
	82.7% {color: #336600;}
	100% {color: #336600;}
}
@keyframes color6 {
	0% {color: #006633;}
	7.6% {color: #006666;}
	15.3% {color: #003366;}
	22.7% {color: #000066;}
	33% {color: #330066;}
	37.6% {color: #660066;}
	45.3% {color: #660033;}
	52.7% {color: #660000;}
	66% {color: #663300;}
	67.6% {color: #666600;}
	75.3% {color: #336600;}
	82.7% {color: #006600;}
	100% {color: #006633;}
}
@keyframes color7 {
	0% {color: #006666;}
	7.6% {color: #003366;}
	15.3% {color: #000066;}
	22.7% {color: #330066;}
	33% {color: #660066;}
	37.6% {color: #660033;}
	45.3% {color: #660000;}
	52.7% {color: #663300;}
	66% {color: #666600;}
	67.6% {color: #336600;}
	75.3% {color: #006600;}
	82.7% {color: #006633;}
	100% {color: #006666;}
}
@keyframes color8 {
	0% {color: #003366;}
	7.6% {color: #000066;}
	15.3% {color: #330066;}
	22.7% {color: #660066;}
	33% {color: #660033;}
	37.6% {color: #660000;}
	45.3% {color: #663300;}
	52.7% {color: #666600;}
	66% {color: #336600;}
	67.6% {color: #006600;}
	75.3% {color: #006633;}
	82.7% {color: #006666;}
	100% {color: #003366;}
}
@keyframes color9 {
	0% {color: #000066;}
	7.6% {color: #330066;}
	15.3% {color: #660066;}
	22.7% {color: #660033;}
	33% {color: #660000;}
	37.6% {color: #663300;}
	45.3% {color: #666600;}
	52.7% {color: #336600;}
	66% {color: #006600;}
	67.6% {color: #006633;}
	75.3% {color: #006666;}
	82.7% {color: #003366;}
	100% {color: #000066;}
}
@keyframes color10 {
	0% {color: #330066;}
	7.6% {color: #660066;}
	15.3% {color: #660033;}
	22.7% {color: #660000;}
	33% {color: #663300;}
	37.6% {color: #666600;}
	45.3% {color: #336600;}
	52.7% {color: #006600;}
	66% {color: #006633;}
	67.6% {color: #006666;}
	75.3% {color: #003366;}
	82.7% {color: #000066;}
	100% {color: #330066;}
}
@keyframes color11 {
	0% {color: #660066;}
	7.6% {color: #660033;}
	15.3% {color: #660000;}
	22.7% {color: #663300;}
	33% {color: #666600;}
	37.6% {color: #336600;}
	45.3% {color: #006600;}
	52.7% {color: #006633;}
	66% {color: #006666;}
	67.6% {color: #003366;}
	75.3% {color: #000066;}
	82.7% {color: #330066;}
	100% {color: #660066;}
}
@keyframes color12 {
	0% {color: #660033;}
	7.6% {color: #660000;}
	15.3% {color: #663300;}
	22.7% {color: #666600;}
	33% {color: #336600;}
	37.6% {color: #006600;}
	45.3% {color: #006633;}
	52.7% {color: #006666;}
	66% {color: #003366;}
	67.6% {color: #000066;}
	75.3% {color: #330066;}
	82.7% {color: #660066;}
	100% {color: #660033;}
}
@keyframes color13 {
	0% {color: #660000;}
	7.6% {color: #663300;}
	15.3% {color: #666600;}
	22.7% {color: #336600;}
	33% {color: #006600;}
	37.6% {color: #006633;}
	45.3% {color: #006666;}
	52.7% {color: #003366;}
	66% {color: #000066;}
	67.6% {color: #330066;}
	75.3% {color: #660066;}
	82.7% {color: #660033;}
	100% {color: #660000;}
}

/* FONT STYLES*/

.italics {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

/*BUTTONS*/

.button {
	padding: 5px 10px;
	border-radius: 10px;
	background-color: #cba987;
	font-weight: bold;
	font-size:.8em;
	color: #151111;
	transition: 0.2s all;
}

.button:hover {
	cursor: pointer;
	background-color: #ba9876;
}

#submit:hover {
	background-color: #badd76;
	color: #155611;
}

#reset:hover {
	background-color: #ff9876;
	color: #601111;
}

#container {
	padding: 5% 0;
	margin: 0 auto;
	width: 80%;
	min-height: 200px;
}

h2 {
	
}

blockquote {
	
}

table {
	
}

footer {
	background-color: #ffffff;
}

img {
	width: 100%;
}

.image {
	text-align: center;
}
#templateImage {
	transform: rotate(180deg);
}

label {
	color: #151111;
}

footer h4, footer h5, footer h6 {
	text-align: center;
	margin: 1px;
}

.fnav {
	padding: 10px 0;
	width: 100%;
	background-color: #cba987;
}

.fnav ul {
	display: block;
	text-align: center;
	margin: 0;
	border: 0;
	padding: 0;
}

.fnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
}

.fnav a {
	color: #151111;
	text-decoration: none;
	font-size: 1.5em;
	transition: 0.3s all;
}

.fnav a:link {
	
}

.fnav a:hover {
	color: #53391f;
	letter-spacing: 1px;
}

.fnav a:active {
	
}

.fnav a:visited {
	
}
a:link {
	
}

a:hover {
	
}

a:active {
	
}

a:visited {
	
}

.hahaFunnyTemplateJoke {
	text-align: center;
	color: #cc0000;
	animation: wow 0.5s ease-in-out infinite alternate;
	font-family: 'Arial', sans-serif;
	line-height: 50px;
}
@keyframes wow {
	0% {color: #ff0000;}
	100% {color: #990000;}
}